body{
    height: 100vh;
    background-color: yellow;
} 
@media (min-width:400px) and (max-width:450px){
    body{
        background-color: blue;
    }
    h1{
        font-size: 12px;
        border: 2px solid black;
    }
}

@media (min-width:460px){
    body{
        background-color: red;
    }
   
}
